- source_file = current_page.source_file
- @mtime = File.mtime source_file
- current_page_path = source_file.gsub(%r{\A#{Regexp.escape source_dir}}, '').gsub %r{\.(haml|markdown)\Z}, ''
#footer
  .badges
    = link_to image_tag('/images/madeonamac20050720.gif', :alt => '[Made on a Mac]', :height => 36, :width => 98), 'http://store.apple.com'
  .text
    - if !current_page.data.has_key?('copyright') || (current_page.data.copyright == true)
      %p.copyright== This page copyright © 1998-#{@mtime.year} Marnen Laibow-Koser (<a href="mailto:marnen@marnen.org">marnen@marnen.org</a>)
    %p&== URL for this page is http://www.marnen.org#{current_page_path}
    %p&== Last modified #{@mtime.strftime '%A, %d %B %Y'}.
