- @current_page_path = File.join(File.expand_path(@staticmatic.src_dir) , 'pages', current_page).gsub!(%r{\.html$}, '.haml')
- @mtime = File.mtime(@current_page_path)
#footer
  %p&== http://www.marnen.org#{current_page}
  %p== Site design by #{link 'Marnen Laibow-Koser', 'http://www.marnen.org'} (#{link 'marnen@marnen.org', 'mailto:marnen@marnen.org', :class => 'mailto'}); logo artwork by Judith DeBiase.
  %p&== This page last modified #{@mtime.strftime '%A, %e %B %Y'}.
= partial 'romanos/analytics'