#navbar
  #logo= img "romanos/logo.gif", :height => 91, :width => 315, :alt=>"The Flying Romanos"
  #links
    = link 'Home', './index.html', :id => 'home'
    %br>
    = link 'Appearances', './appearances.html', :id => 'appearances'
    %br>
    = link img('romanos/recordings.gif', :height => 31, :width => 132, :alt => 'Recordings'), './recordings.html'
  #pix
    = img('romanos/ro.jpg', :height => 101, :width => 86, :alt => '', :title => 'RObin Russell')
    = img('romanos/ma.jpg', :height => 101, :width => 86, :alt => '', :title => 'MArnen Laibow-Koser')
    = img('romanos/no.jpg', :height => 101, :width => 86, :alt => '', :title => 'NOrma Castle')