%h1 Music

%p I've been studying and playing music since the tender age of three. It's one of my two or three major interest areas, and the fact of my being a musician is such an integral part of my identity that I can hardly imagine what my life would have been like without it.
%p My musical activities fall broadly into three categories: <a href="#performance">performance</a>, <a href="#composition">composition</a>, and <a href="#engraving">engraving and copying</a>. Read on for more information, or check out my <a href="resume_m.pdf">résumé</a>.
%h2 <a name="performance"></a>Performance
%p I play piano, organ, violin, viola, flute, and recorder. Most of my work is in classical or Anglo-American folk music.
%p On the classical side of things, I have been the primary rehearsal pianist for the <a href="http://www.ridgewoodgands.com">Ridgewood Gilbert &amp; Sullivan Opera Company</a> since 2001. I also play in their orchestra, generally as concertmaster or principal violist. Until 2007, when I left the New York City area for the wilds of Albany, I was a choral accompanist at <a href="http://www.blindbrook.org">Blind Brook</a> Middle and High School, and I played piano for ballet classes at <a href="http://www.slc.edu">Sarah Lawrence College</a>. (I miss doing that...if you're looking for a ballet accompanist, please get in touch!)
%p My folk-music activities are largely centered around the various dance bands that I'm a member of. At the moment, this list includes <a href="romanos/">The Flying Romanos</a>, which plays mostly English country dance music, as well as several contra dance bands including Contrazz, Contramantra, and Squeezology. I'm also a musician for the Handsfor Dance Project, which seeks to combine hip-hop and contra dance. If you want to see what I'm currently up to, check out <a href="http://www.tedcrane.com/dancedb/displayident.com/marnen_laibow-koser">my listing</a> on Ted Crane's <a href="http://www.tedcrane.com/dancedb">DanceDB</a>.
%p I also do a fair amount of musical theater, and I play Javanese gamelan music with <a href="http://www.gamelan.org/sonoflion">Gamelan Son of Lion</a> and <a href="http://www.nygamelan.com">Gamelan Kusuma Laras</a>. Also, from 2002 to 2003 I performed with the Renaissance-rock band <a href="http://www.blackmoresnight.com">Blackmore's Night</a> in the U.S. and 17 European countries under the name Lord Marnen of Wolfhurst; I appear on their recordings <cite><a href="http://www.amazon.com/exec/obidos/redirect?link_code=ur2&camp=1789&tag=marnenlaibowkose&creative=9325&path=tg/detail/-/B00009NJ93/qid=1119205968/sr=8-2/ref=sr_8_xs_ap_i2_xgl15?v=glance%26s=music%26n=507846">Ghost of a Rose</a><img src="http://www.assoc-amazon.com/e/ir?t=marnenlaibowkose&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></cite> and <a href="http://www.amazon.com/exec/obidos/redirect?link_code=ur2&camp=1789&tag=marnenlaibowkose&creative=9325&path=tg/detail/-/B00006LJ9Y/qid=1119206404/sr=1-1/ref=sr_1_1?v=glance%26s=music"><cite>Past Times with Good Company</cite></a><img src="http://www.assoc-amazon.com/e/ir?t=marnenlaibowkose&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />.
%h2 <a name="composition"></a>Composition</h2>
%p I've been composing as long as I've been playing music; I received First Prize in the Aaron Copland Competition for Young Composers in 1988. I particularly enjoy writing songs and chamber music. My compositions tend to be rather eclectic, often combining classical forms with popular-influenced materials; many of my more recent works reflect my interest in early music.
%p Some of my compositions are available for download as PDF files (I will add more as time permits):
%dl 
  %dt <cite>Fantasia on Greensleeves</cite> for flute, violin, and viola
  %dd
    This is a short work that I wrote as a surprise for two friends of mine. It was written to be easy enough for them to sight-read, but it's not as simple as that fact might suggest. The piece uses two versions of <cite>Greensleeves</cite>: the familiar modern version (in the outer sections) and a 17th-century version (in the middle section).
    %ul
      %li= link 'full score', "greensleeves/score.pdf"
      %li= link "flute part", "greensleeves/flute.pdf"
      %li= link "violin part", "greensleeves/violin.pdf"
      %li= link "viola part", "greensleeves/viola.pdf"
  %dt <cite>Isabella Regina, upon her Accession</cite> for SATB quartet or chorus        
  %dd
    This is an anthem in the Anglo-Italian Renaissance madrigal tradition, written for Queen Isabella of the <a href="http://www.eastkingdom.org">East Kingdom</a> of the <a href="http://www.sca.org">SCA</a>. The text is a sonnet by Ana Areces (known in the SCA as Ana Ravaya de Guzm&aacute;n) which was read at Queen Isabella's coronation. This piece tied for first place in the musical composition category in the Northern Lights A&amp;S Pentathlon in 2004.
    %ul
      %li= link "full score", "Anthem.pdf"
      %li
        = link "MIDI file", "Anthem.mid"
        (not great quality; the middle section is half the speed it should be)                
%h2 <a name="engraving"></a>Engraving/Copying</h2>
%p I have many years of experience as a music engraver and copyist, and I will happily take on just about any conceivable engraving assignment. All the PDF files in the previous section are my own engraving work; you might also want to look at my <a href="http://www.pbm.com/%7elindahl/caroso/music">transcriptions</a> of Italian Renaissance lute tablature (there are some files on that page from another transcriber too, but everything is clearly credited). If you'd like to have me engrave your manuscript, or if you'd like to see more samples of my work, please <a href="contact.html">contact me</a>!
