#navbar
  #logo= img 'marnen-org-circular.png', :height => 150, :width => 150, :alt => 'Marnen.org'
  %ul
    %li.span-2= link img('/images/navbar/home.png', :alt => 'Home'), '/'
    %li.span-4= link img('/images/navbar/about.png', :alt => 'About me'), '/about.html'
    %li= link 'Music'
    %li= link 'Web Design', '/webdesign.html'
    %li= link 'Links'
    %li= link 'Fun Stuff!', '/funstuff'
    %li= link 'Contact me', '/contact.html'