#navbar
  #logo= img 'marnen-org-circular.png', :height => 150, :width => 150, :alt => 'Marnen.org'
  %ul
    %li= link 'Home', '/'
    %li= link 'About me', '/about.html'
    %li= link 'Music'
    %li= link 'Web Design', '/webdesign.html'
    %li= link 'Links'
    %li= link 'Fun Stuff!', '/funstuff'
    %li= link 'Contact me', '/contact.html'