!!!
%html
  %head
    %meta{:'http-equiv' => 'content-type', :content => 'text-html;charset=utf-8'}
    %title= @title || partial('title')
    = stylesheets :application
  %body
    -# Consider removing the #grid when we're done debugging.  It's only there because showgrid doesn't work quite right on the body element.
    #grid
      = partial 'navbar'
      = yield
      = partial 'footer'