= javascript_include_tag 'bower_components/jquery/dist/jquery'
= javascript_include_tag  'bower_components/foundation-sites/js/foundation.core'
= javascript_include_tag 'bower_components/foundation-sites/js/foundation.util.mediaQuery'
= javascript_include_tag 'bower_components/foundation-sites/js/foundation.responsiveToggle'
= javascript_include_tag :end
