%ul
  %li#nav-home= link 'Home', '/'
  %li#nav-about
    = link 'About me', '/about.html'
    %ul>
      %li= link 'General information', '/about.html'
      %li
        Résumés
        %ul
          %li== Music (#{link 'PDF', '/resume_m.pdf', :class => :pdf})
          %li== Programming (#{link 'PDF', '/resume.pdf', :class => :pdf})
  %li#nav-music= link 'Music', '/music.html'
  %li#nav-webdesign= link 'Web design', '/webdesign.html'
  %li#nav-links= link 'Links', '/links.html'
  %li#nav-funstuff
    = link 'Fun stuff!', '/funstuff'
    %ul>
      %li= link "SCA Humor", "funstuff/sca.html"
      %li
        = link "E-mailed Funnies", "funstuff/email/index.html"
        %ul
          %li= link "Bio-Optic Organized Knowledge Device", "funstuff/email/book.html"
          %li= link "Celtic Tune V*irus Warning", "funstuff/email/celtic.html"
          %li= link "Somebody thinks Clinton thinks he's God", "funstuff/email/clinton.html"
          %li= link "Dilbert Management Training", "funstuff/email/dilbert.html"
          %li= link "Error Message Haiku", "funstuff/email/errorhaiku.html"
  %li#nav-contact= link 'Contact', '/contact.html'
